<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldexplorer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="World Explorer"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldExplorer">

       <!-- شاشة البداية Splash -->
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter> <!-- الشاشة الرئيسية -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mainActivity"
            android:exported="false" />

       <activity android:name=".countrydetailActivity"
           android:exported="false" />

        <activity
            android:name=".Flags"
            android:exported="true" />
        <activity
            android:name=".map"
            android:exported="false" />
        <activity
            android:name=".Greetings"
            android:exported="true" />
        <activity
            android:name=".Quiz"
            android:exported="false" />
    </application>

</manifest>